.editor {
  width: 90%;
  max-width: 1100px;
  display: flex;
  margin: 4vh 0 3vh;
  border-radius: 5px;
  border: 8px solid rgba(0, 0, 0, 0.4);
  line-height: 1.6rem;
}

.editor--shaking {
  animation: shake 0.3s;
}

.editor--hover {
  color: #dacd86;
}

.editor__header {
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
  background-color: #2d4356;
}

.editor__filename {
  font-weight: 300;
  opacity: 0.7;
}

.editor__css-editor {
  background-color: #e0dfd1;
  color: #2d4356;
  padding: 0.5rem 0.75rem;
}

.editor__window {
  display: grid;
  grid-template-columns: 33px auto;
  overflow-y: auto;
  font-family: monospace;
  font-size: 1rem;
}

.editor__lines-block {
  padding: 0.5rem;
  font-weight: 300;
}

.editor__lines-block--css {
  color: #2d4356;
  background-color: #dacd86;
}

.editor__lines-block--html {
  background-color: #2c3639;
  border-right: 1px solid #37474f;
}

.editor__lines-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  opacity: 0.7;
  text-align: end;
}

.editor__html-viewer {
  background-color: #2c3639;
  padding: 0.5rem 0.75rem;
  overflow: auto;
}

.editor__html-viewer code * {
  display: block;
}

.editor__input-block {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.editor__input {
  flex-grow: 1;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  animation: none;
}

.editor__input:placeholder-shown {
  animation: input 0.5s infinite;
}

.editor__input:focus {
  outline: none;
}

.editor__button {
  font-family: inherit;
  line-height: 1.2rem;
  cursor: pointer;
  outline: none;
}

.editor__code {
  opacity: 0.7;
}

.editor__inner {
  padding-left: 20px;
}

.editor__block {
  flex-basis: 50%;
}

@keyframes input {
  50% {
    background: none;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(6px);
  }
  40% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .editor {
    width: 98%;
  }

  .editor__input {
    width: 100%;
  }
}
